{
  "parser": "babel-eslint",
  "extends": [
    "airbnb"
  ],
  "ignorePatterns": ["webpack.common.js", "webpack.dev.js", "webpack.prod.js", "node_modules/"],
  "plugins": [
    "react-hooks"
  ],
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  },
  "env": {
    "browser": true,
    "node": true
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          ["assets", "./src/assets/"],
          ["components", "./src/components/"]
        ],
        "extensions": [".js", ".jsx", ".json"]
      }
    }
  }
}
