{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "plugin:react-hooks/recommended"
  ],
  "ignorePatterns": ["webpack.common.js", "webpack.dev.js", "webpack.prod.js", "node_modules/"],
  "rules": {},
  "env": {
    "browser": true,
    "node": true
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          ["assets", "./src/assets/"],
          ["components", "./src/components/"]
        ],
        "extensions": [".js", ".jsx", ".json"]
      }
    }
  }
}
