.bar {
  display: flex;
  flex-direction: row;
  align-items: center;

  &__badges {
    min-width: 3.6rem;
    display: flex;
    justify-content: space-evenly;
  }

  &__color {
    flex-grow: 1;
    height: 1.4rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
  }

  &__dropdown {
    min-width: 2.5rem;
  }
}


:export {
  missing_color: #ff4d4f;
  bought_color: #52c41a;
}
