.cont {
  background-color: #bcc5cf;
}

// remove browser default scroll in ant-design tables:
.ant-table-content{
  overflow-x: auto!important;
}


// global styles:
.global-spinner {
  min-height: 15rem;
}
